* {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #cb0000; }

img {
  border: none; }

p {
  margin: 10px 0; }

h1, h2 {
  margin-bottom: 20px; }

html, body {
  font: 12px/18px Helvetica, Arial, sans-serif;
  background: white;
  color: #1e1e1e; }

html, body, #wrap {
  height: 100%; }

body > #wrap {
  height: auto;
  min-height: 100%; }

#ie6_pwnage {
  display: none; }

#header .insides, #mid .insides, #footer .insides {
  width: 960px;
  padding: 10px 0;
  margin: 0 auto;
  position: relative; }

#mid {
  min-height: 400px; }

#main {
  padding-bottom: 101px; }

#footer {
  position: relative;
  margin-top: -101px;
  height: 100px;
  clear: both; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

* html .clearfix {
  height: 1%; }

/* Hides from IE-mac \ */
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
form fieldset {
  border: none;
  width: 415px; }
  form fieldset li {
    margin-bottom: 8px;
    display: block;
    clear: both; }
  form fieldset li.submit {
    margin-bottom: 0; }
form label {
  float: left;
  width: 100px;
  margin: 0 20px 10px 0;
  text-align: right;
  line-height: 26px;
  cursor: pointer;
  color: #444444; }
form input[type="text"], form input[type="password"], form input[type="file"], form textarea {
  width: 230px;
  float: left;
  padding: 5px;
  line-height: 1;
  background: white url(../images/input-bg.gif) repeat-x 0 0;
  border: 1px solid #cccccc; }
form input[type="submit"] {
  position: relative;
  margin: 5px 0 0 120px;
  color: #333333;
  font-weight: bold;
  background: transparent url(../images/button-bg.png) repeat-x 0 0;
  border: 1px solid #cccccc;
  padding: 6px 8px;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.clear {
  clear: both; }

#wrap {
  background: transparent url(../images/bg-texture.png) repeat 0 0; }

#footer {
  text-align: center;
  color: #555555; }

#logo {
  background: transparent url(../images/logo-large.png) no-repeat 50% 10px;
  width: 100%;
  height: 220px; }

.signup {
  color: #777777;
  text-align: center;
  margin: 0 auto 50px; }
  .signup .button {
    display: block;
    width: 208px;
    height: 40px;
    margin: 0 auto;
    text-indent: -9999px;
    background: transparent url(../images/signup-button.png) no-repeat 0 0; }

.diagram {
  padding-bottom: 30px;
  margin-bottom: 30px;
  width: 960px;
  height: 220px;
  background: #efefef url(../images/home-diagram.png) no-repeat 50% 50%;
  border: 1px solid #dddddd; }

.download {
  float: left;
  width: 328px;
  margin-left: 120px;
  position: relative; }
  .download h1 {
    text-indent: -9999px;
    background: transparent url(../images/download.png) no-repeat 0 0;
    width: 200px;
    height: 21px;
    margin-bottom: 25px; }
  .download .icon {
    float: left;
    margin: 0 30px 0 5px;
    cursor: pointer; }
  .download .text {
    color: #777777; }
    .download .text p {
      margin: 0; }
  .download a {
    color: black;
    font-weight: bold;
    text-decoration: none; }
  .download .arrow a {
    background: transparent url(../images/download-arrow.png) no-repeat 0 0;
    width: 37px;
    height: 39px;
    position: absolute;
    top: 35px;
    left: 16px;
    -webkit-transition: top 0.2s linear;
    cursor: pointer; }

.download:hover .arrow a {
  top: 40px; }

.instructions {
  float: left; }
  .instructions h1 {
    text-indent: -9999px;
    background: transparent url(../images/instructions.png) no-repeat 0 0;
    width: 200px;
    height: 21px;
    margin-bottom: 15px; }
  .instructions ul li {
    margin-bottom: 5px; }
  .instructions ul li.code {
    padding-top: 10px; }
  .instructions em {
    color: #cb0000; }
