div#main_container {
  font-size:13px;
  font-family:helvetica;
}
div#main_container h2 {
  margin-bottom:10px;
}
div#main_container p {
  margin:0px;
}
div#info_sections {
	width:800px;
	margin:0px auto;
}
div#info_sections h2 {
	margin-top:0px;
}
div#drawer {
	width:160px;
	float:right;
	height:100%;
}
div#slider {
	width:160px;
	position:fixed;
	top:200px;
	text-align:center;
	padding:10px 0px;
	background-color:#F0F0F0;
	border:1px solid silver;
}
div#slider h2 {
	font-size:18px;
	margin:7px 0px;
	padding:0px;
}
div#slider p {
	font-size:13px;
	margin:0px;
}
