/* global */
body {
	color:rgb(30,30,30);
	margin:0px;
	font-family:helvetica;
	font-size:15px;
	background-color:rgb(42,42,42);
}
div.clear {
	clear:both;
}

/* header */
div#header_container {
	width:100%;
	height:75px;
	background-image:url(/images/header.png);
	background-repeat:repeat-x;
}
div#header_content {
	width:1000px;
	margin:0px auto;
}
h1#site_title {
	margin:0px;
	padding:10px 0px;
	font-size:30px;
	line-height:55px;
	color:white;
	float:left;
}

/* main */
div#main_container {
	width:1000px;
	margin:0px auto;
}
div#main_content {
	background-color:white;
}

/* footer */
div#footer_container {
	
}
div#footer_content {
	
}

/* form */
div#form_container {
	width:500px;
	margin:0px auto;
	padding:20px;
}
div#form_container h2 {
	text-align:center;
}
div#form_container input.text_input {
	padding:5px;
	/*background-color:rgb(240,240,240);
	border:1px solid rgb(190,190,190);*/
	width:487px;
	outline:none;
	margin-bottom:10px;
	font-size:20px;
}
div#form_container .field_with_errors {
	display:inline;
}
div#form_container input.text_input:focus {
	
}
div#form_container label {
	padding-left:7px;
}
div#form_container input.button_input {
	float:right;
	margin-top:10px;
}