body {
	color:rgb(30,30,30);
	margin:0px;
	font-family:helvetica;
	font-size:15px;
}
div.clear {
	clear:both;
}

div#form_container {
	width:500px;
	margin:100px auto;
	background-color:rgb(240,240,240);
	border:1px solid rgb(190,190,190);
	padding:10px;
}
div#form_container h2 {
	text-align:center;
}
div#form_container input.text_input {
	padding:5px;
	background-color:white;
	border:1px solid rgb(190,190,190);
	width:470px;
	outline:none;
	margin-bottom:10px;
	font-size:20px;
}
div#form_container input.text_input:focus {
	
}
div#form_container label {
	padding-left:7px;
}
div#form_container input.button_input {
	float:right;
	margin-top:10px;
}