- if @apps
  .apps-sidebar
    .header
      %h3 your apps
      = link_to(image_tag("/images/plus.png"), new_app_path, :class => 'add-link')
    %ul.apps
      = render :partial => 'shared/app', :collection => @apps

  .main
    = yield

- else
  = yield