- if @apps && !@no_sidebar
  .apps-sidebar
    .header
      %h3 your apps
      = link_to("add", new_app_path, :class => 'add-link')
    %ul.apps
      = render :partial => 'apps/app', :collection => @apps

  .main
    = yield

- else
  = yield