%table.tablesorter
  %thead
    %tr
      %th email
      %th code
      %th action
      %th sent at
  %tbody
    - @beta_invites.each do |beta_invite|
      %tr
        %td= mail_to beta_invite.email, beta_invite.email
        %td= link_to "Code Link", invite_code_path(beta_invite.code)
        %td= link_to "Send", ['deliver', 'admin', beta_invite]
        %td= beta_invite.sent_at