.instructions
  %h2 Setting up your iOS app to send Crashbucket reports
  %h3 1. Installation
  %ul
    %li
      = link_to "Download the iOS library", "https://s3.amazonaws.com/guicocoa_downloads/libcrashreport.zip"
      (version 1.5)
    %li
      Add
      %strong
        libcrashreport.a
      and
      %strong
        GCCrashReport.h
      to your project (make sure
      %strong
        Copy Items
      is selected)
    %li
      Include the
      %strong
        SystemConfiguration
      framework in your project
    %li
      Add the
      %strong
        :plain
          -ObjC
      flag to the
      %strong
        Other Linker Flags
      option in your project build settings
  %h3 2. Usage
  %ul
    %li
      Import
      %strong
        GCCrashReport.h
      in your app delegate header file
    %li
      Put this line in your
      %strong
        application:didFinishLaunchingWithOptions:
    %li
      %code
        GCCrashReport *report = [GCCrashReport sharedReportWithAPIKey:@"#{@app.api_key}"];
    %li
      Optionally set any properties on the report object
    %li
      Conform to the
      %strong
        GCCrashReportDelegate
      protocol and implement any of the methods you like