-#%h1 Apps

= #link_to "New App", new_app_path

%table
	%tr{ :id => "table_header" }
		%th{:class => "first" } name
		%th api key
		%th{:class => "last" } new reports
	- @apps.each do |app|
		%tr{ :class => "table_row" }
			%td{:class => "table_col_name" }
				= app.name
			%td{:class => "table_col_key" }
				= app.api_key
			%td{:class => "table_col_reports" }
				= link_to "Reports", app_reports_path(app)