#form_container
	%h2 New App

	= form_for @app do |form|
		= form.label :name
		%br/
		= form.text_field :name, :class => "text_input"
		%br/
		= form.submit "Create App", :class => "button_input"
	
	.clear