= render 'options'
- if @app.reports.count == 0
  = render :partial => "instructions"
- else
  %ul.reports
    = render @reports
  - if @open && !@reports.empty?
    .fix-those-suckers
  - else
    .nice-job