- if @app.reports.empty?
  .empty Good job! 0 crash reports for this app.
- else
  .options-bar
    .type-chooser
      open crashes
    .search
      search
    .sorter
      .newest newest
      .frequent most frequent
      .viewed most viewed
  %ul.reports
    = render @app.reports