= render 'options'
- if @app.reports.empty? && @open
  %ul.reports
    %li.report.empty
- else
  %ul.reports
    = render @app.reports
  - if @open
    .fix-those-suckers
  - elsif @closed
    .nice-job