%li.report
  .stats
    .count= report.count
    .views 0
  .info
    .name= link_to report.exc_name.truncate(80), [@app, report]
    .details= report.exc_reason.truncate(85)
  .when #{time_ago_in_words report.updated_at} ago